li {
  list-style-type: none;
}
.about-picture {
  height: 600px !important;
  width: auto !important;
}
.image {
  image-resolution: 300dpi;
  border-radius: 8px;
  object-position: center;
}

.card-about,
.image {
  height: 277px !important;
  width: 180px !important;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.card:hover .overlay {
  height: 100%;
}

.image,
.overlay {
  border-radius: 8px;
}

.employee-card {
  height: 500px !important;
}
